<head>
  <title>RealtorBase</title>
</head>

<body>
  <div id="app"></div>
  <script type="text/javascript" src="http://maps.api.2gis.ru/1.0"></script>
  <script src="//widget.cloudinary.com/global/all.js" type="text/javascript"></script>
</body>
