#modalAddObj {
    label {
        margin-right: 20px;
    }

    .form-group {
        margin-right: 20px;
        margin-bottom: 40px;
    }

    #floorFrom {
        margin-right: 10px;
    }
    #floorTo {
        margin-left: 10px;
    }

    #floorFrom, #floorTo {
        width: 60px;
    }

    #desc {
        width: 100%;
    }

    #area {
        width: 70px;
    }

    #price {
        width: 80px;
    }
  #phone {
    width: 150px;
  }

  #address {
    width: 300px;
  }

  .upload-file {

  }
  #myMapId {
    width: 100%;
    height: 400px;
  }
}